@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4070f4;
}

.container {
    background-color: #fff;
    max-width: 900px;
    position: relative;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0px 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

}

.container header {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

/* ye vala samajh nhi aaya */
.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background: #4070f4;

}

.container form {
    min-height: 490px;
    position: relative;
    background-color: #fff;
    margin-top: 16px;
}

.container form .details {
    margin-top: 30px;
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .fields .input-field {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    width: calc(100% / 3 - 15px);
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input {
    height: 42px;
    margin: 8px 0;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"]{
    color: #707070;
}

.input-field input[type="date"]:valid{
    color: #333;
}
.input:click {
    box-shadow: 2px magenta hotpink;
}