@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4070f4;
}

.container {
    background-color: #fff;
    max-width: 900px;
    position: relative;
    width:100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0px 15px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);

}

.container header{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container form{
    min-height: 490px;
    position: relative;
    background-color: #fff;
    margin-top: 16px;
}